body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 720px;
    /* Ursprüngliche Spielbreite */
    height: 480px;
    /* Ursprüngliche Spielhöhe */
}

canvas {
    width: 100%;
    height: 100%;
    background-color: #000;
    /* Hintergrundfarbe für Canvas */
}

.overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-image: url('src/img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.pauseWindow {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.options {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0);
    justify-content: center;
    align-items: center;
    z-index: 4;
}

/*LoadingScreen*/
.loadScreen {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    z-index: 4;
    animation: fadeBackground 3s ease-in-out forwards;
    animation-delay: 3s;
}

@keyframes fadeBackground {
    from {
        background-color: rgba(0, 0, 0, 1);
    }

    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

#loadSpan {
    position: absolute;
    top: 90%;
    left: 45%;
    font-weight: bold;
    font-size: 28px;
}

.loadIcon {
    display: block;
    width: 180px;
    height: 180px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*Buttons*/
button {
    width: 17.5%;
    height: 10%;
    color: white;
    font-size: 23px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 1px #fff;
    z-index: 3;
}

#buttonEnd {
    position: absolute;
    top: 87%;
    left: 70%;
}

#buttonOption {
    position: absolute;
    display: block;
    top: 87%;
    left: 40%;
}

#buttonStart {
    position: absolute;
    display: block;
    top: 87%;
    left: 10%;
}

#buttonMainMenu {
    position: absolute;
    display: block;
    top: 80%;
    left: 42.5%;
}

#buttonContinue {
    position: absolute;
    display: block;
    top: 60%;
    left: 42.5%;
}

#pauseSlogen {
    position: absolute;
    display: block;
    top: 40%;
    left: 48%;
    font-size: 28px;
}

#buttonBack {
    position: absolute;
    display: block;
    top: 80%;
    left: 42.5%;
}

#musicSpan {
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 28px;
}

#volumeControlMusic {
    position: absolute;
    top: 12%;
    left: 40%;
    width: 45%;
}

#soundSpan {
    position: absolute;
    top: 25%;
    left: 20%;
    font-size: 28px;
}

#volumeControlSound {
    position: absolute;
    top: 27%;
    left: 40%;
    width: 45%;
}

#selectGameEPL {
    position: absolute;
    top: 17.5%;
    left: 15%;
    border: 1px solid white;
    width: 25%;
    height: 25%;
    border-radius: 15px;
}

#enter-fullscreen-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    z-index: 4;

}

#exit-fullscreen-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    z-index: 4;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}



/* Media queries für responsive Anpassungen */
@media only screen and (max-width: 720px) {
    #game-container {
        width: 100%;
        height: auto;
    }

    #buttonEnd {
        font-size: 2.5vw;
    }

    #buttonOption {
        font-size: 2.5vw;
    }

}

@media only screen and (max-height: 480px) {
    #game-container {
        height: 100%;
        width: auto;
    }
}

/* Sicherstellen, dass das Spiel im Vollbildmodus korrekt dargestellt wird */
:fullscreen #game-container,
:-webkit-full-screen #game-container {
    width: 100vw;
    height: 100vh;
}

:fullscreen canvas,
:-webkit-full-screen canvas {
    width: 100%;
    height: auto;
}

/* New styles for fullscreen mode */
.fullscreen {
    width: 100vw;
    /* Set width to 100% of the viewport width */
    height: 100vh;
    /* Set height to 100% of the viewport height */
    max-width: 100%;
    /* Ensure it does not exceed the viewport width */
    max-height: 100%;
    /* Ensure it does not exceed the viewport height */
}

canvas.fullscreen {
    width: 100vw;
    height: 100vh;
}